@mixin list-reducer {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin title($size, $height, $color: $darkest) {
  margin: 0;
  padding: 0;

  font-size: $size;
  font-weight: normal;
  font-style: normal;
  line-height: $height;
  letter-spacing: normal;
  color: $color;
}

@mixin title-small($size, $height, $color: $dark) {
  margin: 0;
  padding: 0;

  font-size: $size;
  font-weight: normal;
  font-style: normal;
  line-height: $height;
  letter-spacing: normal;
  text-transform: uppercase;
  color: $color;
}

@mixin flex-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin shadowed-element {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

@mixin desktop-wrapper {
  margin: 0 auto;
  width: 1300px;
  padding: 0 40px;
}

@mixin pseudo($width, $height) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
}